* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.link {
    color: black;
    text-decoration: none;
}

.foodspot-card-container {
    height: 170px;
    width: 120px;
    border: 3px solid black;
    background-color: #12f49a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 8px 8px 0px -2px #000000;
    box-shadow: 8px 8px 0px -2px #000000;
    margin: 20px;
}

.card-image {
    float: left;
    width: 90px;
    height: 60px;
    object-fit: cover;
}

.category-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 15px;
}

.category-container {
    position: relative;
    height: 90px;
    width: 150px;
    background-color: #12f49a;
    border: 3px solid black;
    overflow: hidden;
    -webkit-box-shadow: 8px 8px 0px -2px #000000;
    box-shadow: 8px 8px 0px -2px #000000;
}

.category-header {
    position: absolute;
    top: 5px;
    left: 10px;
}

.category-container-image {
    position: absolute;
}

.DOENER {
    right: -70px;
    top: 17px;
    width: 150px;
}

.SUSHI {
    right: -80px;
    top: 0;
    width: 150px;
}

.PIZZA {
    right: -50px;
    top: 17px;
    width: 140px;
}

.BURGER {
    right: -30px;
    top: 17px;
    width: 100px;
}

.button-add {
    background-color: white;
    border: 2px solid black;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 55px;
    -webkit-box-shadow: 7px 7px 0px -2px #000000;
    box-shadow: 7px 7px 0px -2px #000000;
}

.button-image-add {
    width: 60px;
}

.form-add-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12f49a;
    height: 100vh;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin: 20px;
    height: 500px;
    width: 350px;
    border: 1px solid black;
    -webkit-box-shadow: 9px 9px 0px -2px #000000;
    box-shadow: 9px 9px 0px -2px #000000;
    background-color: #f3d935;
    position: relative;
}

.form-section-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-form-input {
    height: 40px;
    width: 250px;
    border: 2px solid black;
    -webkit-box-shadow: 7px 7px 0px -2px #000000;
    box-shadow: 7px 7px 0px -2px #000000;
    padding-left: 5px;
    font-size: 16px;
}

.add-form-input:focus {
    outline: none;
    border-color: black;
}

.form-header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

.form-main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-button {
    background-color: white;
    font-size: 17px;
    padding: 10px;
    border: 2px solid black;
    -webkit-box-shadow: 7px 7px 0px -2px #000000;
    box-shadow: 7px 7px 0px -2px #000000;
}

.add-button-container {
    position: relative;
}

.add-button:active {
    -webkit-box-shadow: 0px 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px 0px #000000;
    transform: translate(5px, 7px);
}

.back-button {
    position: absolute;
    top: -70px;
    left: 0px;
    width: 50px;
    background-color: white;
    border: 2px solid black;
    -webkit-box-shadow: 7px 7px 0px -2px #000000;
    box-shadow: 7px 7px 0px -2px #000000;
}

.back-button:active {
    -webkit-box-shadow: 0px 0px 0px 0px #000000;
    box-shadow: 0px 0px 0px 0px #000000;
    transform: translate(5px, 7px);
}

.banner {
    position: absolute;
    right: -15px;
    top: -30px;
}

.banner-text {
    position: absolute;
    color: white;
    right: 5px;
    top: 0px;
    transform:rotate(30deg);
}

.google-map {
    height: 300px;
    width: 350px;
}

.foodspot-detail-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 232, 222);
    height: 100vh;
    gap: 40px;
    position: relative;
}

.foodspot-detail-category {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
